/* .wrapper {position: initial;top: 0; right: 0; bottom: 0; left: 0; background: linear-gradient(to bottom, #654F85, #7B5789) }
.food { position: relative !important; top: 50%; left: 50%; margin: -197px 0 0 -310px } */
.food
{
  position: relative;
  width: 620px;
  height: 394px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
}

.food > .cover
{
  position: relative;
  height: 260px;
  background: transparent center no-repeat;
  background-size: 100% auto;
  border-radius: 2px 2px 0 0;
}

.food > .cover > label
{
  position: absolute;
  top: 22px;
  left: -33px;
  height: 33px;
  padding: 0 30px 0 63px;
  line-height: 33px;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 0 1px 2px #000;
  background: rgba(136, 86, 168, .6);
}

.food > .cover > label > i
{
  position: absolute;
  top: 0;
  left: 0;
}

.food > .cover > label > i > svg
{
  margin: 8px;
}

.food > .cover > .download
{
  display: block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 47px;
  height: 47px;
  background: rgba(51, 193, 210, .6);
  border-radius: 100%;
}

.food > .cover > .download:hover { background: #33C1D2 }

.food > .cover > .download > svg
{
  margin: 12px 10px 0;
}

.food > .info
{
  position: relative;
  height: 134px;
  overflow: hidden;
  border-radius: 0 0 2px 2px;
}

.food > .info > .recipe
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 134px;
  height: 134px;
  background: #8856A8;
  font-family: sans-serif;
  font-size: 14px;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 0 0 0 2px;
}

.food > .info > .recipe:hover { background: #9967B9 }

.food > .info > .recipe > i
{
  display: block;
  margin: 38px 0 15px;
}

.food > .info > .content
{
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 154px;
  font-family: sans-serif;
  font-size: 14px;
  color: #888;
}

.food > .info > .content strong { font-weight: normal; color: #333 }
.food > .info > .content .pad-right { padding-right: 20px }
.food > .info > .content .border-right { border-right: 1px solid #D9D9D9 }
.food > .info > .content .consumers img, .food > .info > .content .consumers span { display: inline-block; width: 32px; height: 32px; margin: 0 2px 0 0; line-height: 32px; vertical-align: middle; border-radius: 100% }
.food > .info > .content .consumers span { margin: 0 }

.food > .info > .content h1
{
  margin: 0 0 10px;
  font-size: 26px;
  font-weight: normal;
  color: #333;
}

.food > .info > .content .stars, .food > .info > .content .stars > em
{
  display: block;
  width: 99px;
  height: 18px;
  margin: 0 auto 7px;
  text-align: left;
  background: url(https://lh5.googleusercontent.com/uJ_7fIpfUO1hsXDfSXIcwBkJg4h3pYcZtTP5H5bD52wRgOhgPBpIMHOvvNntyHCTOCs9lYY1yuEX-p8EW20-=w2560-h2688);
}

.food > .info > .content .stars > em
{
  width: 99px;
  height: 18px;
  margin: 0;
  background: url(https://lh5.googleusercontent.com/uJ_7fIpfUO1hsXDfSXIcwBkJg4h3pYcZtTP5H5bD52wRgOhgPBpIMHOvvNntyHCTOCs9lYY1yuEX-p8EW20-=w2560-h2688);
  background-position: 0 -18px;
}






/* $accent: #ffcc00;
//$accent: #52be7f;
$cardBackground: darken($accent,5);
//$cardBackground: #333;

section, footer, nav {
  display: block;
}
body {
  -webkit-text-size-adjust: none;
  background: $accent;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4em;
  padding: 3em;
}
a {
  text-decoration: none;
  color: #333;
}
figure {
  margin: 0;
}
// Tile Classes 
.tile {
  width: 250px;
  height: 350px;
  margin: 2em;
  position: relative;
  float: left;
  .front, .back {
    display: block;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 250px;
    height: 350px;
    position: absolute;
    overflow: hidden;
    text-align: center;
  }
  h3, p, a {
    padding: 0 20px;
  }
  img {
    max-height: 130px;
  }
  .front {
    background: #fff;
    transition: all .5s ease-in-out;
    z-index: 2;
    h3 {
      font-size: 2em;
      color: white;
      text-shadow: 0 0 5px #000;
      margin-top: -1.5em;
      margin-bottom: 1.5em;
    }
  }
  .back {
    background: $cardBackground;
    color: white;
    z-index: 1;
    padding-top: 50px;
    height: 300px;
    h3 {
      font-size: 1.5em;
      color: white;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    a {
      display: block;
      font-size: 1.2em;
      color: white;
      border-top: 1px solid lighten($cardBackground,5);
      margin: 0 20px;
      padding: .5em 0;
    }
  }
  &:hover {
    .front {
      top: -300px;
      transform: rotate(2deg);
    }
  }
} */